################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug/vc140.idb
/Debug/newlib0904.tlog/newlib0904.lastbuildstate
/Debug/newlib0904.tlog/link.write.1.tlog
/Debug/newlib0904.tlog/link.read.1.tlog
/Debug/newlib0904.tlog/link.command.1.tlog
/Debug/newlib0904.tlog/CL.write.1.tlog
/Debug/newlib0904.tlog/CL.read.1.tlog
/Debug/newlib0904.tlog/CL.command.1.tlog
/Debug/addplayer.obj.enc
/newlib0904.vcxproj.filters
/newlib0904.vcxproj
/newlib0904.VC.db
/newlib0904.sln
